#justColor {
    height: 110px;
    width: 110px;
    border-radius: 5px;
    border-left: 150px;
}



.inputText {
    align-items: center;
}

.inputRange {
    width: 40px;
}

#inputText {
    align-items: center;
}