.container {
    /* display: block; */
    margin-top: 50px;
    padding: 15px;
    width: 55%;
    border: 1px solid #999DA0;
    border-radius: 10px;

}

h1 {
    margin-top: 0px;
    text-align: center;
}

p {
    margin-top: 15px;
    text-align: center;
}

#red {
    color: red;
    font-weight: bold;
}

#green{
    color: green;
    font-weight: bold;
}

#blue {
    color: blue;
    font-weight: bold;
}

.inputs {
    display: flex;
    align-items: flex-end;
}

.inputRange {
    text-align: center;
    width: 50px;

}

.inputText {
    margin-left: 15px;
    text-align: center;
    width: 100px;
    
}

#justColor {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    margin: 15px auto 15px auto ;

}

footer {
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(108, 112, 116);
}

.heart {
    color: red;
}

